# Question no :1 : for loop to print even number

In [3]:
for i in range (2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

# Question no 2:list of names using for loop in uppercase

In [8]:
names = ['arzu', 'wajiha', 'zukhruf', 'aj', 'fizza']
for name in names :
    print(name.upper())

ARZU
WAJIHA
ZUKHRUF
AJ
FIZZA

# Question no 3: print 10 to 1 in reverse

In [13]:
for i in range (10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# Question no 4: iterate integers divisible by 3

In [33]:
numbers = [1, 3, 9, 11, 15, 17, 18, 20, 21]
for num in numbers:
    if num % 3 == 0:
        print(num)

3
9
15
18
21

# Question no 5: print squares from 1 to 10

In [36]:
for i in range (1, 11):
    print(f"{i} squared is {i**2}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100

# Question no 6: celcius to fahrenheit

In [44]:
celsius_temps = [0, 23, 1, 18]
fehrenheit_temps = []
for temps in celsius_temps:
    fehrenheit = (temp * 9/5) + 32
    fehrenheit_temps.append(fehrenheit)
    print("Fehrenheit temperatures:", fehrenheit_temps)

Fehrenheit temperatures: [64.4]
Fehrenheit temperatures: [64.4, 64.4]
Fehrenheit temperatures: [64.4, 64.4, 64.4]
Fehrenheit temperatures: [64.4, 64.4, 64.4, 64.4]

# Question no 7: table of 5

In [49]:
for i in range (1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Question no 8 : sum of all numbers

In [62]:
numbers = [1, 23, 18, 2]
total = 0
for number in numbers:
    total += number
print("The sum of all numbers in the list is:", total)

The sum of all numbers in the list is: 44

# Question no 9 : for loop string in to character

In [2]:
text = "Hello world!"
for char in text:
    print(char)

H
e
l
l
o

w
o
r
l
d
!

# Question no 10: list of words more than 5 letters

In [15]:
words = ["arzu", "wajeeha", "zukhruf", "aj dastagir", "meharma"]
for word in words:
    if len(word) > 5:
        print(word)

wajeeha
zukhruf
aj dastagir
meharma